.ordiniContainer{
    display: list-item;
    list-style-type: none;
    max-width: 800px;
    position: relative;
    margin: auto;
    height:80%;
    overflow-y:auto;
}
.ordine{
    margin: 10px 20px 10px 10px;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(128, 128, 128, 0.22);
    background-color: rgba(223, 223, 223, 0.22);
    text-align: center;
}
.top{
    width: 100%;
    display: flex;
}
a.linkListaUtente{
    color: #4267b2;
}
#bottoneAdmin{
    background-color: #eae6e6;
    padding: 5px;
    font-size: medium;
    margin-left: 10px;
}
.numOrdine{text-align:center;
    width: fit-content;
    border: solid 2px grey;
    padding: 5px;
    border-radius: 5px;}
.prodotti{
    max-width: 80%;
    margin: auto;
}
.ordDetails{
    width: 100%;
    text-align: center;
    margin: auto;
}
.ordine p{margin-top:unset;}
.ordine a{
    color: #374685;
}
.textList{
    text-align:left;
}
.empty{
    width:100%;
    text-align: center;
    color: #605E5E;
}