
@media screen and (max-width:750px){
    #datiProfilo .dati{
        width:100%;
        margin:0;
    }
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

p.title5{
    font-size: 26px;
    color: #605E5E;
}

.firstitem{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(47, 46, 46, 0.2);
    margin-bottom:30px;
    width: 60%;
}




.dati{
    display: flex;
    width: 50%;
    margin:auto;
}
#datiProfilo input[type=password]{
    width:100%;
}
#bottoneDelUt{
    background-color: #30BDFF;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
    height: 42px;
    border:0;
}


.colonna1{
    margin-right: 50px;
    width: 85%;
}

.column{
    display: flex;
    flex-direction: column;

}

.column input[type=text],input[type=password],input[type=email]{
    padding: 11px;
    width: 100%;
}


.rules{
    font-size: 13px;
    opacity: 0.3;
}

.bottoneMod{
    margin-left: 35%;
    margin-top: 20px;
    background-color: #30BDFF;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
    height: 42px;
    border-block-style: solid;
    width: 30%;
    border: 0;
}

.bottoneMod:hover{
    opacity: 0.8;
}

/*responsive*/
@media screen and (max-width: 879px){
.dati{
    flex-direction: column;
}
}


/*MODQuadro*/
.categorieModQ{
    display: flex;
    justify-content: center;
    margin: 4% auto;
    max-width: 300px;
    text-align: center;
}
.scrollCat{
    width: 50%;
    overflow: auto;
    height: 80px;
}

.notificaMODQ{
margin-right: 26%;
margin-top: 0;
}

.column1{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.column1 input[type=text]{
    padding: 11px;
    width: 100%;
    text-align: center;
    font-family: Courier, Monaco, monospace;
    border: 1px solid rgb(160, 160, 159);
}
#descrizioneModQ{
    resize: none;
    padding: 5px;
    width: 105%;
    border: 1px solid rgb(160, 160, 159);
    height: 94px;
}
#filemodQ{
    display: none;

}
#tastolabelModQ{
    padding-bottom: 15px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    background-color: rgba(160, 160, 159, 1);
    border: 0;
    margin-left: 20px;
}
.allinea{
    text-align: left;
}

.bottoniModQPos{
    margin-left: 30%;
}
.annulla{
    border-radius: 25px;
    background-color: #FFFFFF;
    color: #30BDFF;
    cursor: pointer;
    padding: 10px;
    height: 42px;
    border-block-style: solid;
    width: 30%;
    border: 1px solid rgba(160, 160, 159, 1);
}
.bottoniModQ{
    background-color: #30BDFF;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
    height: 42px;
    border-block-style: solid;
    width: 30%;
    border: 0;
}
.bottoniModQ:hover,.annulla:hover{
    opacity: 0.8;
}
.notifica{
    font-size: 15px;
    color: #009933;
    margin-left: 23%;
    padding: 10px;
    width: 110%;
}
@media screen and (max-width: 480px){
    #datiModQ{
        margin: 0;
        width: 100%;
    }
}

/*MODCategoria*/

.datiCategoria{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column2{
    display: flex;
    flex-direction: column;
}
.column2 input[type=text]{
    padding: 11px;
    width: 100%;
    border: 1px solid rgb(160, 160, 159);
}
.column3{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}
#descrizioneModC{
    resize: none;
    padding: 5px;
    width: 105%;
    border: 1px solid rgb(160, 160, 159);
    height: 94px;
}
.bottoniModCPos{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: 27%;
    margin-top: 3%;

}
.bottoniModC{
    background-color: #30BDFF;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
    height: 42px;
    border-block-style: solid;
    width: 30%;
    border: 0;
    margin-left: 2%;
}

.annullaModCat{
    border-radius: 25px;
    background-color: #FFFFFF;
    color: #30BDFF;
    cursor: pointer;
    padding: 10px;
    height: 42px;
    border-block-style: solid;
    width: 30%;
    border: 1px solid rgba(160, 160, 159, 1);
    margin-left: 2%;
}
.bottoniModC:hover,.annullaModCat:hover{
    opacity: 0.8;
}

@media screen and (max-width:426px){
    .bottoniModC,.annullaModCat{
        width: unset;
    }

}